# Copy to keystore.properties (do not commit) and fill in values after creating a keystore:
#   keytool -genkey -v -keystore rinse-rise-upload.jks -keyalg RSA -keysize 2048 -validity 10000 -alias rinse-rise
#
# storeFile=../rinse-rise-upload.jks
# storePassword=YOUR_STORE_PASSWORD
# keyAlias=rinse-rise
# keyPassword=YOUR_KEY_PASSWORD
